@mixin bgColors($color) {
    @if $color == 'black' {
        background-color: #000000
    }
    @if $color == 'green' {
        background-color: #00db99
    }
}

@mixin textColors($color) {
    @if $color == 'white' {
        color: #ffffff
    }
}