@import "../../styles/base";

@keyframes moveAndRotate {
    0% {
      transform: translateX(0) rotate3d(0, 0, 0, 0) scale(1);
    }
    25% {
      transform: translateX(10px) rotate3d(1, 1, 1, 35deg) scale(1.2);
    }
    50% {
      transform: translateX(0) rotate3d(1, 0, 0, 20deg) scale(1.4);
    }
    75% {
        transform: translateX(10px) rotate3d(0, 1, 0, 35deg) scale(1.2);
    }
    100% {
        transform: translateX(0) rotate3d(0, 0, 0, 0) scale(1);
    }
}

.main {
    @include bgColors("black");
    width: 100vw;
    height: 100vh;
    padding: 3rem 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    overflow-x: hidden;

    div {
        @include textColors("white");
    }

    img {
        width: 20rem;
        height: 25rem;
        animation: moveAndRotate 10s infinite;
    }
}