@import "../../styles/base";

@keyframes changeColor {
    0% {
      filter: hue-rotate(0);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

.main {
    @include bgColors("black");
    width: 100vw;
    height: 100vh;
    padding: 3rem 12rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    overflow-x: hidden;

    div {
        @include textColors("white");
    }

    img {
      width: 26rem;
      height: 26rem;
      background-size: cover;
      animation: changeColor 5s infinite;
    }
}